body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f7f7f7;
    margin: 40px;
}
form{
    background-color:#f7f7f7;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 8px rgb(0, 0, 0,0.1);
    max-width: 400px;
}
input,select{
    width: 100%;
    padding: 8px;
    margin: 6px 0;
}
input[type=submit]{
    background-color: #8368ce;
    color: white;
    border: none;
    cursor: pointer;
}
input[type=submit]:hover{
    background-color: #311fd3;
}